<body>
	<div class="container">
		<h2>登録内容の確認</h2>
		<%= form_with model:[@book,@comment],url:book_post_comments_path(@book),local: true do |f| %>
		<table class="table table-hover">
			<tbody>
				<tr>
					<%= f.hidden_field :comment, :value => @comment.comment %>
					<th><%= f.label :comment %></th>
					<td><%= @comment.comment %></td>
				</tr>
			</tbody>
		</table>
		<%= f.submit"戻る",name: 'back',class:'btn btn-secondary mr-3'%>
		<%= f.submit"登録",class:'btn btn-primary'%>
		<% end %>
	</div>
</body>
</html>