<!-- これはヘッダーに表示させるメニュー画面 -->
<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <span class="fas fa-pastafarianism">Bookers</span>
    </nav>
<!-- ユーザーがサインインしている場合 -->
      <% if user_signed_in? %>
          <ul class="navbar-text navbar-right">
            <li>
              <%= link_to_unless_current " Home", user_path(current_user.id),class:"glyphicon glyphicon-home"%>
            </li>
            <li>
              <%= link_to_unless_current " Users", users_path,class:"glyphicon glyphicon-user" %>
            </li>
            <li>
              <%= link_to_unless_current " Books", books_path,class:"glyphicon glyphicon-book" %>
            </li>
            <li>
              <%= link_to " logout", destroy_user_session_path,class:"glyphicon glyphicon-log-out",method: :delete,data: {confirm: "本当に削除しますか？"}%>
            </li>
            </ul>
          <!-- ユーザーがサインインしていない場合 -->
      <% else %>
          <ul class="navbar-text navbar-right">
            <li>
              <%= link_to " Home", root_path,class:"glyphicon glyphicon-home" %>
            </li>
            <li>
              <%= link_to " about", books_about_path,class:"glyphicon glyphicon-link" %>
            </li>
            <li>
              <%= link_to " sign up", new_user_registration_path,class:"glyphicon glyphicon-pencil" %>
            </li>
            <li>
              <%= link_to " login", new_user_session_path,class:"glyphicon glyphicon-log-in" %>
            </li>
          </ul>
    <% end %>
  </div>
</header>

<%= yield %>